image: node:16-alpine

default:
  cache:
    key: $CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
    paths:
      - node_modules/
      - .nuxt/
      - docs/.nuxt/

stages:
  - install
  - lint
  - test
  - build
  - publish

install-dependencies:
  stage: install
  script:
    - npm install

lint:
  stage: lint
  dependencies:
    - install-dependencies
  script:
    - npm install
    - npm run lint

typecheck:
  stage: test
  dependencies:
    - install-dependencies
  script:
    - npm install
    - npm run typecheck

build:
  stage: build
  script:
    - npm install
    - npm run generate
  dependencies:
    - install-dependencies
  artifacts:
    paths:
      - docs/dist/*

publish:
  stage: publish
  only:
    - tags
  when: manual
  script:
    - echo "//registry.npmjs.org/:_authToken=${CI_NPM_TOKEN}">.npmrc
    - npm publish --access=public
  dependencies:
    - install-dependencies
