.e-header__background{--tw-bg-opacity:1;background-color:rgb(30 39 54/var(--tw-bg-opacity));background-position:0 0;background-size:cover;height:100%;opacity:.95;position:absolute;width:100%;z-index:-10}
